.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
