.accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 60vw;
  height: auto;
  padding: 20px;
}

.item {
  background-color: blueviolet;
  border-radius: 20px;
  position: relative;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
  cursor: pointer;
}

.wrapper button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
